#menu{
    width: 15%;
    position: fixed;
    background: #ccc;
    height: 100vh;
}
.item-menu{
    margin-left: 10px;
    margin-bottom: 10px;
}
.item-menu a{
    transition: all 0.4s;
    
} 
.item-menu::before{
    content: "-"; 
}
.item-menu:hover a{
    color: red !important;
    text-decoration: none;

    
}
.content{
    position: relative;
    margin-left: 17%;
}
.title{
    font-size: 36px;
    
}
.image{
   
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30%;
}
.image img{
    width: 100%;
}

.text{
  float: left;
    }
.news{
    display: flex;
}

